@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
header{
	background-color: #fefefe;
   
    /*background-image: url(../img/bg2.jpg);
    background-size: 100% 100%;*/
}
#sec-slider{
    background-color: #686868;
   
    background-image: url(../img/home.jpg);
    background-size: 100% 100%;
    padding: 20px 0px 20px 0px
    }
@media only screen and (max-width: 960px){
.head-menu {
    margin-top: 12px
}
#sec-slider{
    background-color: #686868;
   
    background-image: url(../img/home.jpg);
    background-size: 100% 100%;
    padding: 20px 0px 20px 0px
}

}
@media only screen and (max-width: 767px){
	.head-menu {
    margin-top:-10 px;
    margin-bottom:-10 px
}
#sec-slider{
     background-color: #686868;
   
    background-image: url(../img/home.jpg);
    background-size: cover;
    padding: 20px 0px 20px 0px
}

}
@media only screen and (max-width: 479px){
	.head-menu {
    margin-top: -10px;
    margin-bottom:-10 px
}
#sec-slider{
     background-color: #686868;
   
    background-image: url(../img/home.jpg);
   background-size: cover;
    padding: 20px 0px 20px 0px
}

}
.logo{
	text-align: center;
	color:#1b81e5;
	text-shadow: 0 0 1px rgba(0,0,0,0.3);
    font-family: 'Shrikhand', cursive;
}
#header-top{
	padding: 4px 0px 13px 0px;
}
#header-second{background: rgb(27, 129, 229)}
.head-menu {
    list-style-type: none;
    line-height: 2.4;
    margin-top: 33px
}
.head-menu> li {
    display: -webkit-inline-box;
}
.head-menu> li> a {
    margin-right: 0px;
    color: #1b81e5;
    font-size: 14px;
    padding: 3px 10px;
    text-shadow: 0 0 1px rgba(0,0,0,0.3);
}


.search-tab.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #1b81e5;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.search-tab .tab-content{
	background: rgba(19, 1, 1, 0.68);
	padding: 10px ;
}
.search-tab .nav-tabs > li > a {
    margin-right: 4px;
    line-height: 1.42857143;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    color: #fff;
}
.search-tab .nav-tabs {
  border-bottom: 2px solid #fcc000;
}
.search-tab .nav-tabs > li.active > a,
.search-tab .nav-tabs > li.active > a:hover,
.search-tab .nav-tabs > li.active > a:focus {
      color: #555;
    cursor: default;
    background-color: #fcc000;
    border: 1px solid #fcc000;
    border-bottom-color: transparent;
}
.search-tab .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #fcc000;
    border: 1px solid #fcc000
}
.form-flight label,.form-flight h3{
	color: #ddd
}
.form-flight input[type="text"],input[type="number"]{
    height: 40px
}
.form-flight select{
    height: 40px
}

.btn-style{
	  background: #FFA631;
    color: #555;
    border-radius: 0px;
    box-shadow: 0 2px 1px #a98000;
}
.btn-style:hover{
	    background: #d09f04;
    color: #fff;
}
.no-padding{padding: 0px}

.section{padding: 15px 0px 15px 0px;margin:15px 0px 15px 0px;}
.section-header{
        text-align: center;
    margin-bottom: 63px;
    display: inline-block;
    width: 100%;

}
.section-header h3 {
    background-image: url(../img/section-header-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 66px;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Merriweather';
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 0;
    margin-bottom: 0;
}
.section-padding {
    padding-bottom: 30px;
    padding-top: 30px;
}
.gallery-box {
    overflow: hidden;
    text-align: left;
}
.gallery-box::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: inline-block;
    background-color: rgba(0,0,0,0.8);
    transform: scaleX(0);
    transform-origin: 0 0 0;
    transition: all 0.4s ease-in-out 0s;
    opacity: 0;
}
.gallery-box:hover::before {
    opacity: 1;
    transform: scaleX(1);
    visibility: visible;
}
.gallery-box-hover {
    position: absolute;
    right: 100%;
    width: 100%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0 40px;
    color: #fff;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.gallery-box:hover .gallery-box-hover {
    right: 0;
}
.gallery-box:hover .gallery-box-hover,
.gallery-box-hover a,
.gallery > a {
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}
.gallery-box-hover h5 {
    font-family: "Oswald";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.6px;
    margin-bottom: 20px;
    margin-top: 0;
    text-transform: uppercase;
}
.gallery-box-hover p {
    font-size: 15px;
    letter-spacing: 0.45px;
    line-height: 25px;
    margin-bottom: 20px;
}
.gallery-box-hover a {
    display: inline-block;
    color: #fff;
    background-color: #e21712;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    padding: 13px 25px;
    text-decoration: none;
    letter-spacing: 1.65px;
}
.gallery-box-hover a:hover {
    background-color: #fff;
    color: #e21712;
}
.gallery-section > a {
    display: inline-block;
    padding: 10px 43px;
    background-color: #a61530;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    margin-top: 110px;
    border: 1px solid #a61530;
}
.gallery-section > a:hover {
    background-color: transparent;
    color: #a61530;
    text-decoration: none
}
/********************* Packages Section ***************************/
.package-list{
    width:100%;
    float:left;
    height:auto;
    background:#fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin:0 0 30px;
    -webkit-box-shadow:0 0 5px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 0 5px -1px rgba(0, 0, 0, 0.2);
    -ms-box-shadow:0 0 5px -1px rgba(0, 0, 0, 0.2);
    box-shadow:0 0 5px -1px rgba(0, 0, 0, 0.2);
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    
}
.package-list:hover{
    -webkit-box-shadow:0 0 10px -1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:0 0 10px -1px rgba(0, 0, 0, 0.4);
    -ms-box-shadow:0 0 10px -1px rgba(0, 0, 0, 0.4);
    box-shadow:0 0 10px -1px rgba(0, 0, 0, 0.4);
}
.package-list a{
    display:inline-block;
    float:left;
    width:100%;
    height:auto;
}
.package-thumb{
    width:100%;
    float:left;
    height:auto;
    overflow:hidden;
    position:relative;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.duration {
    background: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: left;
    font-size: 11px;
    height: auto;
    line-height: 15px;
    padding: 17px 12px;
    position: absolute;
    text-align: center;
    top: 15px;
    width: auto;
    right:15px;
    color:#fff;
    font-weight:400;
    
}
.package-thumb > img{
    width:100%;
    height:auto;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
.package-info{
    width:100%;
    float:left;
    height:auto;
    padding:15px;
}
.package-list a:hover .package-thumb > img{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    transform:scale(1.1);
}
.pull-right.price {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color:#777;
}
.pull-left.price {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #777;
}
.package-info .fa{
    font-size:18px;
    color:#777;
    vertical-align:middle;
}
.package-info p{
        font-size: 15px;
    margin: 0 0 15px;
    color: #777;
    font-weight: 300;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    
    max-height: 80px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.review-count{
    font-size:18px;
    text-transform:lowercase;
    vertical-align:middle;
    font-weight:300;
    color:#777;
}
/* ------------------------------
   Footer styles
   ---------------------------- */
#footer {
  background: url("../img/bg-footer.png") no-repeat center center;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #footer .footer-widget.notitle .title {
    display: none !important; }
  #footer .footer-widget .title {
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    margin-bottom: 20px; }
    #footer .footer-widget .title h3 {
          color: #ffffff;
    font-size: 21px;
    margin-top: 0;
    font-family: monospace;
}
  #footer .footer-widget ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  #footer .about-widget {
    color: #999999;
    line-height: 30px;
    font-family: 'Open Sans';
    font-size: 14px; }
    #footer .about-widget img.logo-footer {
    height: 65px;
    margin-bottom: 15px;
     }
    #footer .about-widget p {
      color: #ccc;
      margin: 0;
      padding: 0; 
      font-family: sans-serif;
  }
    #footer .about-widget .social-footer {
      margin: 20px 0 0 0;
      list-style: none;
      padding: 0; }
      #footer .about-widget .social-footer li {
        display: inline; }
        #footer .about-widget .social-footer li a {
          color: #999999;
          font-size: 20px;
          line-height: 45px;
          padding-right: 15px; }
          #footer .about-widget .social-footer li a:hover {
            color: #f4b843; }
  #footer .post-link-widget ul li {
    margin-bottom: 5px; }
    #footer .post-link-widget ul li a {
      font-size: 15px;
      color: #ccc; }
      #footer .post-link-widget ul li a:before {
        font-family: "FontAwesome";
    content: "ï„…";
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    padding-right: 10px;
}
      #footer .post-link-widget ul li a:hover {
        color: #f4b843;
        text-decoration: none; }
  #footer .gallery-widget ul li {
    padding: 0 4px 4px 0;
    display: inline; }
    #footer .gallery-widget ul li a .gallery-wrap {
      width: initial;
      margin-bottom: 6px; }
      #footer .gallery-widget ul li a .gallery-wrap img {
        height: 85px;
        width: 85px; }

.footer-bottom {
  clear: both;
  padding: 20px 0;
  background-color: #0c0c0c; }
  .footer-bottom .menu-footer {
    list-style: none;
    margin: 0;
    padding: 0; }
    .footer-bottom .menu-footer li {
      padding-right: 30px;
      display: inline; }
      .footer-bottom .menu-footer li a {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase; 
    color: #ffffff;
}
        .footer-bottom .menu-footer li a:hover {
          color: #f4b843;
          text-decoration: none; }

.sec-padding {
    padding: 80px 0px 80px 0px;
}
.zt-container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
.text-white {
    color: #ffffff;
}
.font18{font-size: 18px}
.destination-layer{
    padding: 20px 0px;
    background: rgba(51, 51, 51, 0.3);
     min-height: 300px;
  }
  .destination-title {
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 0 2px 2px rgba(0,0,0,0.2);
    margin-top: 90px;
}
.block1{
    background:#fff;
    padding: 15px;
    margin:10px 0px;
    color: #B1A398;
}
.block1-heading{
    color: #B1A398;
    font-size: 16px;
    font-weight: 600; 
}
.block1 hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #ccc;
}
.block1 p{
    color: #B1A398;
    word-spacing: 2px;
    text-align: justify;
}
.block1 form label{
    color: #b1a398
}
.block1 h4{
    color: #b1a398;
    margin-top: 5px;
    margin-bottom: 0px
        color: #b1a398;
    margin-top: 10px;
    font-size: medium;
    margin-bottom: 4px;
    font-weight: 600;
}
.ico-co{
    font-size: 2.8em;
    color: #1b81e5;
}
.light-hr{

}
#country-ul {
    list-style: none;
    padding: 0px
}
.country-a>a {
    color: white;
}
.country-a {
    color: white;
    position: relative;
    margin-bottom: 10px;
    background: #337AB6;
    text-align: center;
}
.country-name {
    display: block;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.33);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}